/* Reset some default browser styles */
body, h1, h2, p, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #24292f;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

a {
    color: #0366d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #24292f;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

